<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>999694322267-19mc545h76okjh5v3m5oq6u7sq283qoo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.999694322267-19mc545h76okjh5v3m5oq6u7sq283qoo</string>
	<key>API_KEY</key>
	<string>AIzaSyBMSrX1Y5-faNJ03uySuKPgVTb5Oerj3no</string>
	<key>GCM_SENDER_ID</key>
	<string>999694322267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.redditClone</string>
	<key>PROJECT_ID</key>
	<string>reddit-practise-yeasin</string>
	<key>STORAGE_BUCKET</key>
	<string>reddit-practise-yeasin.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:999694322267:ios:4960109a904e403dd20d7e</string>
</dict>
</plist>